h1 {
    font-size: 50px;
}

.form-control {
    width: 20%;
}

form {
    margin: 0 auto;
}

.text-centre {
    text-align: center;
}

body {
    text-align: justify;

}

#dest-header {
    font-size: 150%;
    padding-left: 20px;
}

#chosen-city {
    text-align: center;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

#top-attractions {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#cards {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.information {
    display: flex;
}

.column {
    width: 500px;
    height: auto;

    margin-top: 5px;
}

.row {
    justify-content: space-around;
}

.image {
    display: inline-flex;
    margin: 0 auto;
}

.card {
    padding: 20px 30px;
}

section {
    margin-top: 30px;
}

#attractions-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.attraction-card {
    margin-top: 4px;
    margin-bottom: 4px;
}

.hide {
    display: none;
}

.mainInput {
    display:flex
}

.wide {
    width: 100%;
}