:root {
  --light-bg: rgb(238, 252, 252);
  --dark-bg: #21CED4;
  --btn-full: rgb(31, 173, 173);
  --btn-outline: rgb(24, 140, 140);
}

a {
  color: var(--btn-full) !important;
}

#clear-search {
  color: #333 !important;
  text-decoration: underline;
  font-size: 8px;
  text-align: right;
}

h4 {
  color: white;
  text-align: center;
}

h5 {
  color: rgb(24, 140, 140)
}

body {
  background-color: #f7fffb !important;
}

nav {
  background-color: var(--btn-full);
  color: white;
}

.logo {
width: 50;
height: 50;
}

.jumbotron {
  padding-bottom: 4rem;
  padding-top: 4rem;
  margin-bottom: 0rem !important;
  background-image: url("../images/Island\ background.png");
  background-position: center;
  background-size: cover;
  justify-content: center;
}

#searchHistory {
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  border-top: #333 solid .5px;
}

#hist-buttons {
  margin-top: -20px;
}

form {
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgba(237, 252, 252, 0.6);
  padding: 3rem;
  backdrop-filter: blur(6px);
}

#searchInput {
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-sm {
  background-color: none !important;
}

.btn-primary {
  background-color: var(--btn-full) !important;
  border-color: var(--btn-full) !important;
}

.btn-outline-primary {
  border-color: var(--btn-outline) !important;
  color: var(--btn-outline) !important;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--btn-outline) !important;
  border-color: var(--btn-outline) !important;
}

#translateBtn {
  background-color: var(--btn-full) !important;
  border-color: var(--btn-full) !important;
}

#days {
  padding-top: 20px;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--light-bg);
  border: .5px solid rgba(0, 0, 0, .125);
}


.forecast-card {
  width: 40% !important;
  display: grid;
  justify-content: space-evenly;
}

#dest-header {
  padding-left: 20px;
}
/* kamel added slide class */
#image-section .slide{
  background-color: var(--btn-outline);
  padding: 20px;
}

#decoration {
  height: 10px;
  background-color: var(--dark-bg);
}

#chosen-city {
  font-size: 56px;
  color: #fff;
  background-color: var(--btn-outline);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

#top-attractions {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#cards {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 4rem
}

@media (min-width: 576px) {
  .container {
    max-width: 400px;
  }
}

#information {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding: 1rem;
}

#facts {
  display: grid;
  align-content: center;
}

#flag {
  display: grid;
  justify-content: center;
}

.column {
  width: auto;
  height: auto;
  margin-top: 5px;
  padding-right: 3rem;
}

.row {
  justify-content: space-around;
}

/* .image {
  display: inline-flex;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  margin: 0 auto;
  margin: 2rem 0;
  justify-content: center;
  align-content: center;
} */

.flagImg {
  max-width: 100%;
  margin-left: 1rem;
}


img {
    width: 50%;
    margin: auto;
}


.poi-card img {
  max-height: 260px;
}

.poi-card {
  margin: 1rem;
  height: 570px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem; */
}

@media (min-width: 576px) {
  .poi-card {
    height: auto !important;
  }
}

.card {
  padding: 20px 30px;
  max-width: 32rem !important;
  display: flex;
  justify-content: center;
}

#attractions-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.mainInput {
  display: flex
}

.wide {
  width: 100%;
}

footer {
  background-color: var(--btn-outline);
  color: white
}

/* rapid ap */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background: #eeeeee;
} */

.translator-container {
  max-width: 690px;
  /* width: 32rem; */
  padding: 24px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, .125);
}


.translator-wrapper {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.translator-wrapper .text-input {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}

.text-input i {
  display: none;
}

.text-input b {
  font-weight: 100;
}

.text-input .textarea {
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  overflow: active;
  overflow-x: hidden;
  overscroll-behavior: active;
}

.text-input .textarea::placeholder {
  color: #b7b6b6;
}

.controls,
li,
.icons,
.icons i {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  list-style: none;
  padding: 12px 15px;
}

.controls .row .icons {
  width: 38%;
}

.controls .row .icons i {
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}

.controls .row.from .icons {
  padding-right: 15px;
  border-right: 1px solid #ccc;
}

.controls .row.to .icons {
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.controls .row select {
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}

.text-input .textarea::-webkit-scrollbar {
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  width: 8px;
}

.text-input .textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}

.text-input .textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.controls .exchange {
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}

.controls i:active {
  transform: scale(0.9);
}

.translator-container button {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #007bff;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  color: #b7b6b6;
  ;
}

@media (max-width: 660px) {
  .translator-container {
    padding: 20px;
  }

  .translator-wrapper .text-input {
    flex-direction: column;
  }

  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }

  .text-input .textarea {
    height: 200px;
  }

  .controls .row .icons {
    display: none;
  }

  .translator-container button {
    padding: 13px;
    font-size: 16px;
  }

  .controls .row select {
    font-size: 16px;
  }

  .controls .exchange {
    font-size: 14px;
  }
}

.carousel-inner > .carousel-item > img{
  width: 250px; 
  height:auto; 
}

/* kamel added the below */
.carousel-item{
  width: 100vw;
  align-items: center;
}

.card-body{
  background-color: var(--btn-outline);
  color: white;
  border-radius: 5%;
}

.card-body:hover {
  transform: rotate(2deg);
  box-shadow: 10px 10px 5px #aaa;
  background-color: var(--dark-bg);
  
}